/*-- Profile --*/
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.profile-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  z-index: 20;

  .profile {
    position: relative;
    display: block;
    width: 100%;
    height: 6rem;
  }

  .menu-wrapper {
  }

  .logo-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    line-height: 1;
    font-weight: 600;
  }
}

.number-wrapper {
  position: absolute;
  height: 100%;
  width: 12rem;
  z-index: 10;

  .number-count {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }

  .number {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 12rem;
    color: #efefef;
    margin-left: -2rem;
    font-weight: 700;
  }
}

.slider-content {
  position: relative;
  max-width: 112rem;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 35px 20px rgba(79, 69, 66, 0.2);

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;

    @include clearfix;

    &:first-child {
      .txt-wrapper span.copy {
        opacity: 1;
      }
    }

    &:nth-child(odd) {
      .img {
        margin-left: 50%;
        transform: translateY(-100%);
      }
      .txt {
        transform: translateY(100%);
      }
    }
    &:nth-child(even) {
      .img {
        transform: translateY(100%);
      }

      .txt {
        margin-left: 50%;
        transform: translateY(-100%);
      }
    }

    &.active {
      position: absolute;
      z-index: 5;

      .img,
      .txt {
        transform: translateY(0);
      }
    }
  }
}

.slider-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.slider-btn:hover{
  background:#fdcfa3;
}


.slider-container {
  position: relative;
  height: 587px;
  overflow: hidden;

  @include clearfix;

  .slide-content {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    transition: transform 0.3s ease;
    transition-delay: 0.15s;
    &.txt {
      display: table;
      padding: 8rem 14rem;
      background: white;
    }

    .txt-wrapper {
      position: relative;
      display: table-cell;
      vertical-align: middle;

      .u-name {
        position: relative;
        text-transform: uppercase;
        width: 2rem;
        display: block;
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 4rem;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
      }

      .subtitle {
        display: block;
        text-transform: uppercase;
        color: #aeacab;
        font-weight: bold;
        letter-spacing: 0.3rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      p.excerpt {
        margin: 0;
        color: #aeacab;
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
